:root
{
    --color-backgrounds-primary: #131416;
    --color-backgrounds-secondary: #1A1B1D;
    --color-backgrounds-tertiary: #202123;
    --color-backgrounds-quaternary: #27282A;

    --color-labels-primary: #FFF;
    --color-labels-secondary: rgba(235, 235, 245, 0.60);
    --color-labels-tertiary: rgba(235, 235, 245, 0.30);
    --color-labels-quarternary: rgba(235, 235, 245, 0.18);

    --color-functional-green-primary: rgba(14, 173, 105, 1);
    --color-functional-green-secondary: rgba(14, 173, 105, 0.80);
    --color-functional-green-tertiary: rgba(14, 173, 105, 0.60);
    --color-functional-green-quarternary: rgba(14, 173, 105, 0.4);
    --color-functional-green-quinary: rgba(14, 173, 105, 0.20);

    --color-functional-neo_fuchsia-primary: rgba(250, 65, 105, 1);
    --color-functional-neo-fuchsia-secondary: rgba(250, 65, 105, 0.80);
    --color-functional-neo-fuchsia-tertiary: rgba(250, 65, 105, 0.60);
    --color-functional-neo_fuchsia-quarternary: rgba(250, 65, 105, 0.4);
    --color-functional-neo-fuchsia-quinary: rgba(250, 65, 105, 0.20);

    --color-brand-yello-primary: rgba(255, 202, 98, 1);
    --color-brand-yello-secondary: rgba(255, 202, 98, 0.80);
    --color-brand-yello-tertiary: rgba(255, 202, 98, 0.40);
    --color-brand-yello-quaternary: rgba(255, 202, 98, 0.20);

    --color-functional-orange-primary:rgba(254, 152, 112, 1);
    --color-functional-orange-secondary: rgba(254, 152, 112, 0.80);
    --color-functional-orange-tertiary: rgba(254, 152, 112, 0.60);
    --color-functional-orange-quarternary: rgba(254, 152, 112, 0.40);
    --color-functional-orange-quinary: rgba(254, 152, 112, 0.20);

    --color-others-blue-primary: rgba(37, 116, 255, 1);
    --color-others-blue-secondary: rgba(37, 116, 255, 0.80);
    --color-others-blue-tertiary: rgba(37, 116, 255, 0.40);
    --color-others-blue-quaternary: rgba(37, 116, 255, 0.20);

}

