@import url(text.css);
@import url(color.css);
@import url(corner_radius.css);
@import url(space_distance.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
border-radius: var(--corner-radius-xxl, 32px);
background: var(--color-backgrounds-tertiary, #202123);
}

::-webkit-scrollbar-thumb:hover {
background: var(--color-backgrounds-quaternary, #27282A);
}

::-webkit-scrollbar-track {
border-radius: var(--corner-radius-xxl, 32px);
border: 1px solid var(--color-backgrounds-tertiary, #202123);
background: rgba(26, 27, 29, 0.50);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-backgrounds-primary);
  color: var(--color-labels-primary);
}

main {
  margin: auto;
  max-width: 1296px;
}

.navigation-page{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
  bottom: 4%;
  right: 4%;
}
  .button-navigate-page{
    padding: 4px;
    color: var(--color-labels-secondary);

    border-radius: var(--corner-radius-m);
    border: 1px solid var(--color-backgrounds-tertiary);
    background: var(--color-backgrounds-secondary);
    transition: 0.3s;

  }

    .button-navigate-page:hover{
      color: var(--color-labels-primary);
      background: var(--color-backgrounds-tertiary);
    }

    .button-navigate-page:active{
      color: var(--color-labels-secondary);
      border: 1px solid var(--color-backgrounds-primary);
      background: var(--color-backgrounds-quaternary);
    }

.navigation-month{
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

  .button-navigate{
    padding: 11px;
    color: var(--color-labels-secondary);

    border-radius: var(--corner-radius-m);
    border: 1px solid var(--color-backgrounds-tertiary);
    background: var(--color-backgrounds-secondary);
    transition: 0.3s;

  }

    .button-navigate:hover{
      color: var(--color-labels-primary);
      background: var(--color-backgrounds-tertiary);
    }

    .button-navigate:active{
      color: var(--color-labels-secondary);
      border: 1px solid var(--color-backgrounds-primary);
      background: var(--color-backgrounds-quaternary);
    }

      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }

    .navigation-title-months{
      color: var(--color-labels-secondary);

      font-family: var(--font-default);
      font-weight: var(--font-weight-medium);
      line-height: var(--h6-headline-height);
      font-size: var(--h6-headline-size);
      letter-spacing: 0.05rem;
      text-align: center;
    }

.add_month_open_modal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  .add_button_modal{
    border: none;
    padding: 0px;
    border-radius: var(--corner-radius-m);
    background: var(--color-functional-green-secondary);

    color: var(--color-backgrounds-primary, #131416);

    font-family: var(--font-default);
    font-weight: var(--font-weight-medium);
    line-height: var(--bu2-button-height);
    font-size: var(--bu2-button-size);
    cursor: pointer;
    transition: 0.3s;
  }

  .add_button_modal:hover{
    background: var(--color-functional-green-primary);
  }

.add_month{
  margin-top: 1rem;
  border: 1px solid var(--color-backgrounds-tertiary);
  background: var(--color-backgrounds-secondary);
  border-radius: var(--corner-radius-m);
  box-shadow: 0px 8px 24px 0px var(--color-backgrounds-primary);  
}

  .add_month_inside{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

    .add__data_modal{
      border: 1px solid var(--color-backgrounds-tertiary);
      border-radius: var(--corner-radius-s);

      padding-top: 4px;
      padding-left: 8px;
      padding-bottom: 4px;
      padding-right: 8px;

      background-color: var(--color-backgrounds-secondary);
      color: var(--color-labels-primary);

      cursor: pointer;

      font-family: var(--font-default);
      font-weight: var(--font-weight-default);
      line-height: var(--s1-subtitle-height);
      font-size: var(--s1-subtitle-size);
    }

      .add__data_modal::-webkit-calendar-picker-indicator {
        filter: invert(1); /* Inverts the icon color */
      }

    .add_month_inside_buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

      .add_button_modal_secondary{
        border: none;
        display: inline-flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 2px;

        border-radius: var(--corner-radius-s);
        background: var(--color-backgrounds-quaternary);

        color: var(--color-labels-tertiary);

        font-family: var(--font-default);
        font-weight: var(--font-weight-medium);
        line-height: var(--bu2-button-height);
        font-size: var(--bu2-button-size);
        cursor: pointer;

        transition: 0.3s;
      }
        .add_button_modal_secondary:hover{
          color: var(--color-functional-neo_fuchsia-primary);
          background: var(--color-backgrounds-quaternary);
        }


.all_card{
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}
  .card_venituri{
    flex: 1;
    display: flex;
    padding: 30px 40px 30px 40px;
    flex-direction: row;

    justify-content: space-between;

    border-radius: var(--corner-radius-xxl);
    border: 1px solid var(--color-backgrounds-tertiary);
    background: var(--color-backgrounds-secondary);
  }

  .all_statistics_card_text{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
    .statistics_card_text{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2px;
    }
      .statistics_card_text_title{
        color: var(--color-labels-tertiary);
        font-family: var(--font-default);
        font-weight: var(--font-weight-default);
        line-height: var(--s1-subtitle-height);
        font-size: var(--s1-subtitle-size);
      }

      .statistics_card_text_suma{
        color: var(--color-labels-secondary);
        font-family: var(--font-default);
        font-weight: var(--font-weight-bold);
        line-height: var(--h6-headline-height);
        font-size: var(--h6-headline-size);
        letter-spacing: 0.05rem;
      }
        .disponibile{
          color: var(--color-functional-green-primary);
        }
        .planificate{
          color: var(--color-functional-orange-primary);
        }
        .efectuate{
          color: var(--color-functional-neo_fuchsia-primary);
        }
        .alocati{
          color: var(--color-others-blue-primary);
        }

        .styled-lei{
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
          letter-spacing: 0.05rem;
        }
    .arc_statistic{
      width: 116px;
      height: 116px;
    }
.dynamics_level{
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  column-gap: 24px;
  margin-top: 24px;

}
  .dynamic{
    grid-column-start: 1;
    grid-column-end: 9;
    padding: 0px var(--space-distance-xxxl);
    border-radius: var(--corner-radius-xxl);
    border: 1px solid var(--color-backgrounds-tertiary, #202123);
    background: var(--color-backgrounds-secondary);
  }
  .level{
    grid-column-start: 9;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0px var(--space-distance-xxxl, 40px);
    border-radius: var(--corner-radius-xxl);
    border: 1px solid var(--color-backgrounds-tertiary, #202123);
    background: var(--color-backgrounds-secondary);
    align-items: center;
    justify-content: space-between;

  }
  .level_cluster_title{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
    .level_text_title {
      font-family: var(--font-default);
      font-weight: var(--font-weight-default);
      line-height: var(--s1-subtitle-height);
      font-size: var(--s1-subtitle-size);
    }
      .level_text_title_high {
        color: var(--color-functional-neo_fuchsia-primary);
      }
      .level_text_title_medium {
        color: var(--color-functional-orange-primary);
      }
      .level_text_title_low {
        color: var(--color-functional-green-primary);
      }
      .level_text_title_bold {
        font-family: var(--font-default);
        font-weight: var(--font-weight-bold);
        line-height: var(--s1-subtitle-height);
        font-size: var(--s1-subtitle-size);
      }

/* Style the tab */

.tab {
  margin-top: 2.5rem;
  overflow: hidden;
  background-color: var(--color-backgrounds-primary);
  display: flex;
  justify-content: center;
}

  .tab button {
    background-color: inherit;
    color: var(--color-labels-quarternary);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: var(--font-default);
    font-weight: var(--font-weight-default);
    line-height: var(--h5-headline-height);
    font-size: var(--h5-headline-size);
    letter-spacing: 0.05rem;

    border-bottom: 4px solid var(--color-backgrounds-tertiary);


    padding: 14px 3.8vw;
    transition: 0.3s;
  }

    /* Change background color of buttons on hover */
    .tab button:hover {
      border-bottom: 4px solid var(--color-backgrounds-tertiary);
    }

    /* Create an active/current tablink class */
    .tab button.active {
      color: var(--color-brand-yello-primary);
      border-bottom: 4px solid var(--color-brand-yello-primary);
    }

/* Style the tab content */
.tabcontent {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

  .style-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
    .linie-tabel{
      display: flex;
      flex-wrap: wrap;
      padding: 16px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      border-bottom: 1px solid var(--color-backgrounds-tertiary);
      gap: 4rem;
    }

      .linie-tabel-chield-0{
        flex: 5;
        min-width: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-1{
        flex: 4;
        min-width: 242px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-2{
        flex: 3;
        min-width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-3{
        flex: 2;
        min-width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-add-0{
        flex: 5;
        min-width: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-add-1{
        flex: 4;
        min-width: 242px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-add-2{
        flex: 3;
        min-width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-add-3{
        flex: 2;
        min-width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-group-0{
        flex: 3;
        min-width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-group-1{
        flex: 2;
        min-width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-group-2{
        flex: 4;
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-group-add-0{
        flex: 1;
        min-width: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-group-add-1{
        flex: 2;
        min-width: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-incomes-0{
        flex: 3;
        min-width: 306px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-incomes-1{
        flex: 2;
        min-width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-incomes-2{
        flex: 2;
        min-width: 188px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-incomes-3{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .linie-tabel-chield-incomes-add-0{
        flex: 4;
        min-width: 305px;
        max-width: 535px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-incomes-add-1{
        flex: 2;
        min-width: 160px;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .linie-tabel-chield-incomes-add-2{
        flex: 2;
        min-width: 188px;
        max-width: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

        .linie-tabel-lei-add{
          display: flex;
          flex-direction: row;
          align-items: baseline;
        }
        .lei_style {
          color: var(--color-labels-secondary);
          width: 1rem;
          text-align: center;
          font-family: Jost;
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
          letter-spacing: 0.05rem;
        }
      .expenses_list_group{
        display: inline-flex;
        align-items: center;
        gap: 1rem;
      } 

      .expenses_list_group_filter{
        display: inline-flex;
        align-items: center;
        gap: 12px;
        padding-left: 12px;
        padding-bottom: 12px;
      }
       .filter_icon_style{
        color: var(--color-labels-tertiary)
       }

      .incomes_list_group{
        display: inline-flex;
        align-items: center;
        gap: 1rem;
      } 
        .num_style{
          color: var(--color-labels-tertiary, rgba(235, 235, 245, 0.30));
          width: 1rem;
        text-align: center;
        /* Subtitle 1/1 Default */
        font-family: Jost;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 141.176% */
        letter-spacing: 0.026px;
        }

        .expenses_list_group_icon{
          border: none;
        
          padding-top: 4px;
          padding-left: 0px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-primary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
        }
        .add_expenses_list_title {
          cursor: pointer;
          border: 1px solid var(--color-backgrounds-quaternary);
        
          padding-top: 4px;
          padding-left: 8px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          border-radius: var(--corner-radius-s);
        
          background-color: var(--color-backgrounds-secondary);
          color: var(--color-labels-primary);
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        }

        .expenses_list_suma{
          border: none;
        
          padding-top: 4px;
          padding-left: 8px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-primary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-bold);
          line-height: var(--h6-headline-height);
          font-size: var(--h6-headline-size);
          letter-spacing: 0.05rem;

          text-align: right;
        
          width: 5.6rem;
        }
    
        .expenses_list_suma::-webkit-outer-spin-button,
                      input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                              margin: 0;
        }

        .expenses_list_data{
          border: none;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-primary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
          height: 1.5rem;
        
          width: 8 rem;
          opacity: 0.3;
        }
        
          .expenses_list_data::-webkit-calendar-picker-indicator {
            filter: invert(1); /* Inverts the icon color */
          }

          .incomes_list_data{
            border: none;
          
            background-color: var(--color-backgrounds-primary);
            color: var(--color-labels-primary);
          
            cursor: pointer;
          
            font-family: var(--font-default);
            font-weight: var(--font-weight-default);
            line-height: var(--s1-subtitle-height);
            font-size: var(--s1-subtitle-size);
          
            height: 1.5rem;
          
            width: 8 rem;
            opacity: 0.3;
          }
          
            .incomes_list_data::-webkit-calendar-picker-indicator {
              filter: invert(1); /* Inverts the icon color */
            }

        .expenses_list_state{
          border: none;
        
          padding-top: 4px;
          padding-left: 0px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-secondary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
        }
        .incomes_list_state{
          border: none;
        
          padding-top: 4px;
          padding-left: 0px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-secondary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
        }
        .incomes_list_user{
          border: none;
        
          padding-top: 4px;
          padding-left: 0px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-secondary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
        }
        .expenses_list_level{
          border: none;
        
          padding-top: 4px;
          padding-left: 0px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-secondary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
        }
          .low{
            background-color: var(--color-functional-green-primary);
            height: 8px;
            border-radius: var(--corner-radius-m);
          }
          .medium{
            background-color: var(--color-functional-orange-primary);
            height: 8px;
            border-radius: var(--corner-radius-m);
          }
          .high{
            background-color: var(--color-functional-neo_fuchsia-primary);
            height: 8px;
            border-radius: var(--corner-radius-m);
          }
        .expenses_list_both-buttons{
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
        }
        
          .expenses_list_button{
            background-color: var(--color-backgrounds-primary);
            border: none;
            cursor: pointer;
          }
          .expenses_list_button_refresh{
            color: var(--color-functional-green-quarternary);
          }
        
          .expenses_list_button_refresh:hover{
            color: var(--color-functional-green-primary);  
          }
        
          .expenses_list_button_delete{
            color: var(--color-functional-neo_fuchsia-quarternary);
          }
        
          .expenses_list_button_delete:hover{
            color: var(--color-functional-neo_fuchsia-primary);
          }

        .expenses_list_title {
          cursor: pointer;
          border: none;
        
          padding-top: 4px;
          padding-left: 8px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          border-radius: var(--corner-radius-s);
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-primary);
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        }
        .add_expenses_list_state{

          /*border: 1px solid var(--color-backgrounds-tertiary);
          background: var(--color-backgrounds-secondary);
        
          border-radius: var(--corner-radius-s, 8px);*/
        
          border: none;
          background: var(--color-backgrounds-secondary);
        
          padding-top: 4px;
          padding-left: 0px;
          padding-bottom: 4px;
          padding-right: 8px;
        
        
          color: var(--color-labels-secondary);
        
          cursor: pointer;
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        
          /*appearance: none;
          background-image: url(icon/arrow-down.svg);
          background-repeat: no-repeat;
          background-position: right 10% center;
          background-size: 10px;*/
        }

        .incomes_list_title {
          cursor: pointer;
          border: none;
        
          padding-top: 4px;
          padding-left: 8px;
          padding-bottom: 4px;
          padding-right: 8px;
        
          border-radius: var(--corner-radius-s);
        
          background-color: var(--color-backgrounds-primary);
          color: var(--color-labels-primary);
        
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        }
        .suma_percent_all_group{
          display: flex;
          flex-direction: row;
          gap: 1.5vw;
          align-items: center;
        }
          .percent_all_group{
            color: var(--color-functional-orange-primary);
          
            font-family: var(--font-default);
            font-weight: var(--font-weight-default);
            line-height: var(--s1-subtitle-height);
            font-size: var(--s1-subtitle-size);
          }
        
        .rest_all_group{
          color: var(--color-labels-tertiary);
          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s1-subtitle-height);
          font-size: var(--s1-subtitle-size);
        }

      .dim-procente-second {
        height: 8px;
        width: 64%;
        background-color: var(--color-backgrounds-tertiary);
        border-radius: var(--corner-radius-xl);
        position: relative;
      }
      
        .procente-second {
          height: 8px;
          border-radius: var(--corner-radius-xs);
          display: flex;
          flex-direction: row;
        }
      
        .procente-style-second {
          color: var(--color-labels-secondary);
          font-family: var(--font-default);
          font-weight: var(--font-weight-medium);
          line-height: var(--c1-caption-height);
          font-size: var(--c1-caption-size);
          margin-top: 0.3rem;
        }

        .point_procente{
          width: 8px;
          height: 8px;
          position: absolute;
        }

        .point_procente_inside{
          margin-top: -3px;
          background-color: var(--color-labels-primary);
          width: 6px;
          height: 6px;
          border-radius: var(--corner-radius-s);
          border: 4px solid var(--color-backgrounds-primary);
        }

        #c7{
          width: 100%;
          height: auto;
          background-color: var(--color-backgrounds-primary);
        }
        .scrollable-list {
          display: flex;
          flex-direction: column;
          gap: 16px;
          max-height: 160px;
          padding-right: 12px;
          overflow: auto;

          font-family: var(--font-default);
          font-weight: var(--font-weight-default);
          line-height: var(--s2-subtitle-height);
          font-size: var(--s2-subtitle-size);

        }

          .scrollable-list::-webkit-scrollbar {
              width: 8px;
          }

          .scrollable-list::-webkit-scrollbar-thumb {
            border-radius: var(--corner-radius-xxl, 32px);
            background: var(--color-backgrounds-tertiary, #202123);
          }

          .scrollable-list::-webkit-scrollbar-thumb:hover {
            background: var(--color-backgrounds-quaternary, #27282A);
          }

          .scrollable-list::-webkit-scrollbar-track {
            border-radius: var(--corner-radius-xxl, 32px);
            border: 1px solid var(--color-backgrounds-tertiary, #202123);
            background: rgba(26, 27, 29, 0.50);
          }

        .perceRounded{
          padding-top: 2px;
          padding-bottom: 2px;
          padding-right: 6px;
          padding-left: 6px;
          border-radius: 10px;
        }
        .clusterGroup{
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
        }

.add_linie_tabel{
  margin-top: 3rem;
  background: var(--color-backgrounds-secondary);
  border-radius: var(--corner-radius-xl);
}
  .add_expenses_list_suma{
    cursor: pointer;
    border: 1px solid var(--color-backgrounds-quaternary);

    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
    padding-right: 8px;

    border-radius: var(--corner-radius-s);

    background-color: var(--color-backgrounds-secondary);
    color: var(--color-labels-primary);

    font-family: var(--font-default);
    font-weight: var(--font-weight-bold);
    line-height: var(--h6-headline-height);
    font-size: var(--h6-headline-size);
    letter-spacing: 0.05rem;

    width: 5.6rem;

  }
  .add_expenses_list_data{
    border: none;
  
    padding-top: 4px;
    padding-left: 0px;
    padding-bottom: 4px;
    padding-right: 0px;
  
    background-color: var(--color-backgrounds-secondary);
    color: var(--color-labels-primary);
  
    cursor: pointer;
  
    font-family: var(--font-default);
    font-weight: var(--font-weight-default);
    line-height: var(--s1-subtitle-height);
    font-size: var(--s1-subtitle-size);
  
    opacity: 0.3;
  }

  .new{
    color: var(--color-functional-green-primary);
  }
  
    .add_expenses_list_data::-webkit-calendar-picker-indicator {
      filter: invert(1); /* Inverts the icon color */
    }

  .free-space{
    width: 25rem;
  }
  .add_button{
    border: none;
    display: inline-flex;
    padding: 4px 14px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: var(--corner-radius-s);
    background: var(--color-functional-green-secondary);

    color: var(--color-backgrounds-primary, #131416);

    font-family: var(--font-default);
    font-weight: var(--font-weight-medium);
    line-height: var(--bu2-button-height);
    font-size: var(--bu2-button-size);
    cursor: pointer;
    transition: 0.3s;
  }
    .add_button:hover{
      background: var(--color-functional-green-primary);
    }

@media all and (min-width: 992px) and (max-width: 1199px){
  .linie-tabel {
    flex-wrap: nowrap;
    padding: 16px;
    gap: 2rem;
}

}

@media all and (min-width: 320px) and (max-width: 575px){
  main {
    margin: 16px;
  }

  .add_button_modal{
    margin-top: 8px;
  }
  .all_card{
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
    margin-top: 1.5rem;
  }

  .card_venituri{
    flex: 1;
    display: flex;
    padding: 16px 16px 16px 16px;
    flex-direction: row;

    justify-content: space-between;

    border-radius: var(--corner-radius-l);
    border: 1px solid var(--color-backgrounds-tertiary);
    background: var(--color-backgrounds-secondary);
  } 
  .tab button {
    line-height: var(--h6-headline-height);
    font-size: var(--h6-headline-size);
    padding: 14px 3.8vw;
  }

  .style-list {
    gap: 16px;
  }

    .linie-tabel{
      gap: 0px;
      padding-right: 12px;
      padding-left: 12px;
      padding-top: 4px;
      padding-bottom: 4px;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid var(--color-backgrounds-quaternary);
      border-radius: var(--corner-radius-l);
    }
    .linie-tabel-chield-0{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-tertiary);
      padding-top: 8px; 
      padding-bottom: 8px;   
    }
    .linie-tabel-chield-1{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-tertiary);
      padding-top: 8px; 
      padding-bottom: 8px;   
    }
    .linie-tabel-chield-2{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-tertiary);
      padding-top: 8px; 
      padding-bottom: 8px;   
    }
    .linie-tabel-chield-3{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      padding-top: 8px; 
      padding-bottom: 8px;   
    }
    .linie-tabel-chield-add-0{
      flex: 1;
      display: flex;
      min-width: 100%;
      padding-top: 12px; 
      padding-bottom: 12px; 
      align-items: stretch;
      flex-direction: column;  
      gap: 24px;
    }
    .linie-tabel-chield-add-1{
      flex: 1;
      display: flex;
      min-width: 100%;
      padding-top: 12px; 
      padding-bottom: 12px;   
      align-items: stretch;
      flex-direction: column;  
      gap: 24px;
    }
    .linie-tabel-chield-add-2{
      flex: 1;
      display: flex;
      min-width: 100%;
      padding-top: 12px; 
      padding-bottom: 12px;  
      align-items: stretch;
      flex-direction: column;   
      gap: 24px;
    }
    .linie-tabel-chield-add-3{
      flex: 1;
      display: flex;
      min-width: 100%;
      padding-top: 12px; 
      padding-bottom: 12px;   
      align-items: stretch;
      flex-direction: column;  
      gap: 24px;
    }
    .linie-tabel-chield-group-0{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-quaternary);
      padding-top: 8px; 
      padding-bottom: 8px;   
    }
    .linie-tabel-chield-group-1{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-quaternary);
      padding-top: 12px; 
      padding-bottom: 12px;   
    }
    .linie-tabel-chield-group-2{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      padding-top: 10px; 
      padding-bottom: 12px;   
    }
    .linie-tabel-chield-incomes-0{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-quaternary);
      padding-top: 8px; 
      padding-bottom: 8px;   
    }
    .linie-tabel-chield-incomes-1{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-backgrounds-quaternary);
      padding-top: 12px; 
      padding-bottom: 12px;   
    }
    .linie-tabel-chield-incomes-2{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      padding-top: 7px; 
      padding-bottom: 7px;   
      border-bottom: 1px dashed var(--color-backgrounds-quaternary);
    }

    .linie-tabel-chield-incomes-3{
      flex: 1;
      display: flex;
      min-width: 100%;
      justify-content: flex-end;
      padding-top: 12px; 
      padding-bottom: 8px;   
    }

    .add_expenses_list_title{
      background-color: var(--color-backgrounds-primary);
    }

    .add_expenses_list_suma{
      width: 100%;
      background-color: var(--color-backgrounds-primary);
    }

    .add_expenses_list_state{
      border: 1px solid var(--color-backgrounds-quaternary);
      padding-top: 4px;
      padding-left: 8px;
      padding-bottom: 4px;
      padding-right: 8px;
      border-radius: var(--corner-radius-s);
      background-color: var(--color-backgrounds-primary);
      color: var(--color-labels-primary);
      margin-left: 0px;
    }
    .add_expenses_list_data{
      border: 1px solid var(--color-backgrounds-quaternary);
      padding-top: 4px;
      padding-left: 8px;
      padding-bottom: 4px;
      padding-right: 8px;
      border-radius: var(--corner-radius-s);
      background-color: var(--color-backgrounds-primary);
      color: var(--color-labels-primary);
      opacity: 100;
      width: 100%;
    }
    .linie-tabel-chield-group-add-0{
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      padding-top: 12px; 
      padding-bottom: 12px; 
      gap: 24px;
    }
    .linie-tabel-chield-group-add-1{
      flex: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      padding-top: 12px; 
      padding-bottom: 12px; 
      gap: 24px;
    }

    .expenses_list_title {
      width:40%;
      text-align: right;
    }
    .incomes_list_title {
      width: 88%;
      text-align: left;
    }

    .expenses_list_group_icon{
      width:80%;
    }

    .expenses_list_state{
      width:48%;
    }

    .incomes_list_state{
      width:55%;
    }



    .expenses_list_data{
      width:48%;
    }

    .expenses_list_group{
      width:48%;
      gap: 1%;
      justify-content: space-between;
    }
    .incomes_list_group{
      width:55%;
      gap: 1%;
    }
    .incomes_list_data {
      width: 55%;
    }

    .expenses_list_group_filter {
      width:46%;
      justify-content: space-between;
      gap: 8px;
      padding-left: 8px;
      padding-bottom: 16px;
  }

  .linie-tabel-chield-incomes-add-0{
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 24px;
  }
  .linie-tabel-chield-incomes-add-1{
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-top: 12px;
    padding-bottom: 12px;
    gap: 24px;

  }
  .linie-tabel-chield-incomes-add-2{
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-top: 12px;
    padding-bottom: 12px;
    gap: 24px;

  }



    .lei_style {
      color: var(--color-labels-primary);
    }

    .linie-tabel-lei-add{
      order: 2;
    }


    .percent_all_group {
      order: 2;
  }

    .num_style{
      color: var(--color-brand-yello-secondary);
    }

    .dynamics_level {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 12px;
    }
      .dynamic{
        flex: 1;
        padding: 0px var(--space-distance-l, 16px);
        border-radius: var(--corner-radius-l);
      }
      .level{
        padding: var(--space-distance-l, 16px);
        border-radius: var(--corner-radius-l);
      }

      #c7{
        width: 100%;
        aspect-ratio: 3/2;
      }
      

}



/* 
@media all and (min-width: 1200px) and (max-width: 1400px){
    
}

@media all and (min-width: 992px) and (max-width: 1199px){
    
}

@media all and (min-width: 768px) and (max-width: 991px){

}

@media all and (min-width: 576px) and (max-width: 767px){

}

@media all and (min-width: 320px) and (max-width: 575px){

}
*/

